<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22718524512-62t8tapvi61m090dhi0vtm04ao9bftv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22718524512-62t8tapvi61m090dhi0vtm04ao9bftv6</string>
	<key>API_KEY</key>
	<string>AIzaSyC_R6B-nDdVRt5tekUTi4EbgQdTE0Hy6_A</string>
	<key>GCM_SENDER_ID</key>
	<string>22718524512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.pixolity.mynotes</string>
	<key>PROJECT_ID</key>
	<string>addnote-76856</string>
	<key>STORAGE_BUCKET</key>
	<string>addnote-76856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22718524512:ios:5366c0b076bf279295a705</string>
</dict>
</plist>